/* .container{
  width:100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
} */

/* #avalable {
  width:25%;
  float: left;
  text-align:left;
  padding-left: 100px;
}
#devourd{
  width:25%;
  float: left;
  text-align: left;
}
#imgDiv{
  width:50%;
  float: left;
  /* text-align: center; */



img{
  height: 200px;
} 

h1{
  margin-left: 35%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
}

section.main{
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  background-color: #eee9d9;
} 

section.main aside{
  width:33%;
  float: left;
  text-align: left;
} 

section.submit{
  background-color: #cc6633;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  clear: both;
  text-align: center;
}

p{
  clear: both;
}
/* #available{
  text-align:left;
  padding-left: 100px;
}
#devourd{
  text-align: left;
} */

/* #image{
  width:50%;
  float: left;
  text-align: left;
} */

/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
} */
